<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" >

</head>
<body>
    <header>
        <h1>
            Object Detection
        </h1>
    </header>
    <div >
        <img class="img" src="{{ url_for('static', filename='images/mountain.jpg')}}" alt="image">
    </div>
    <div class="desc-div">
        <form action="/" method="POST">
            <label for="desc">Enter Description</label><br> 
            <input type="text" name="desc" id="img-desc"><br> 
            <input type="submit" value="Submit"> 
        </form>

    {% if result == 1 %}
    </div>
        <h2>Correct</h2>
    <div>
    {% endif %}

    {% if result == 0 %}
    </div>
        <h2>Incorrect</h2>
    <div>        
    {% endif %}

    </div>
</body>
</html>